@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /* font-family: 'Montserrat', sans-serif; */

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#root{
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    background-color: #f2f2f2;
}

.container{
    margin: 0 auto;
    max-width: 73rem;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-container{
    background-color: #f2f2f2 ;
    padding: 20px 0;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    color: #f2f2f2;
}

.navbar ul{
    list-style: none;
    display: flex;
}

.navbar li{
    display: flex;
    justify-content: center;
}
.navbar a{
    border-radius: 10px;
    background-color: #132043;
    border-radius: 10px;
    padding: 7px 15px;
    text-decoration: none;
    color: #ffffff;
}
.navbar a:active{
    scale: 0.95
}

/** MAIN  **/
main{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 15px;
}

main > section{
    width: 55%;
}
main > .edit{
    width: 45%;
    display: flex;
    gap: 15px;
}

/** SIDEBAR **/
main > .edit > .sidebar{
    height: min-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 7px;
    border-radius: 10px;
}
main > .edit > .sidebar > button{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 7px;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
}
main > .edit > .sidebar > button:active{
    scale: 0.95;
}
main > .edit > .sidebar > .selected{
    background-color: #f2f2f2;
}

/** FORM **/
.cv-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.cv-form > .personal-info{
    background-color: #ffffff;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
}
.cv-form > .personal-info > form,
.cv-form > div > .sectionOpen > .form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.cv-form > .personal-info > form > div,
.cv-form > div > .sectionOpen > .form > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cv-form > .personal-info > form > div > label,
.cv-form > div > .sectionOpen > .form > div label{
    font-size: 13px;
    font-weight: bold;
    /* display: flex;
    gap: 10px; */
}
.cv-form > .personal-info > form > div > label > span,
.cv-form > div > .sectionOpen > .form > div label > span{
    padding: 8px;
    font-size: 8px;
    color: #626262;
}
.cv-form > .personal-info > form > div > input,
.cv-form > div > .sectionOpen > .form > div input{
    padding: 10px;
    background-color: #f2f2f2;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 12px;
    outline: none;
    transition: border-color 200ms ease-in-out;
}
.cv-form > .personal-info > form > div > input:focus,
.cv-form > div > .sectionOpen > .form > div input:focus{
    border-color: blue;
    box-shadow: 0px 3px 15px rgba(59, 131, 246, 0.2);
}

/** EDUCATION **/

.cv-form > div > .educationSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #ffffff;
    border-style: none;
    cursor: pointer;
}
.cv-form > div > .educationSection.open{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
.cv-form > div > .educationSection > i{
    transition: transform 250ms ease-in;
}
.cv-form > div > .educationSection > i.open{
    transform: rotate(0.5turn);
}
.cv-form > div > .sectionOpen{
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}
.cv-form > div > .sectionOpen > button{
    width: 100%;
    padding: 14px 12px;
    background-color: #f2f2f2;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
.cv-form > div > .sectionOpen > button > i{
    /* width: 10px;
    height: 10px; */
    /* padding: 10px; */
    font-size: 20px;
}
.cv-form > div > .sectionOpen > .addEducation{
    width: auto;
    padding: 10px 8px;
    margin: 10px 0;
    background-color: #132043;
    /* border: 4px solid #f2f2f2; */
    color: #ffffff;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.cv-form > div > .sectionOpen > .form > .flex{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.cv-form > div > .sectionOpen > .form > .flex > div{
    width: 50%;
}
.cv-form > div > .sectionOpen > .form > .flex > div > input {
    width: -webkit-fill-available;
}
.cv-form > div > .sectionOpen > .form > .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cv-form > div > .sectionOpen > .form > .buttons button{
    padding: 5px 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #626262;
    border-radius: 5px;
    color: #626262;
    background-color: #ffffff;
    cursor: pointer;
}
.cv-form > div > .sectionOpen > .form > .buttons > div{
    display: flex;
    gap: 5px;
}
.cv-form > div > .sectionOpen > .form > .buttons > div .save{
    background-color: #132043;
    color: #ffffff;
    cursor: pointer;
}