@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /* font-family: 'Montserrat', sans-serif; */

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#root{
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
}

.container{
    margin: 0 auto;
    max-width: 73rem;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-container{
    background-color: #f2f2f2 ;
    padding: 20px 0;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    color: #f2f2f2;
}

.navbar ul{
    list-style: none;
    display: flex;
}

.navbar li{
    display: flex;
    justify-content: center;
}
.navbar a{
    border-radius: 10px;
    background-color: #132043;
    border-radius: 10px;
    padding: 7px 15px;
    text-decoration: none;
    color: #ffffff;
}

/** MAIN  **/
main{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 15px;
}

main > section{
    width: 50%;
}
main > .edit{
    display: flex;
    gap: 15px;
}

/** SIDEBAR **/
main > .edit > .sidebar{
    height: min-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 7px;
    border-radius: 10px;
}
main > .edit > .sidebar > button{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 7px;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
}
main > .edit > .sidebar > .selected{
    background-color: #f2f2f2;
}

/** FORM **/
.cv-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.cv-form > .personal-info{
    background-color: #ffffff;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
}
.cv-form > .personal-info > form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cv-form > .personal-info > form > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cv-form > .personal-info > form > div > label{
    font-size: 13px;
    font-weight: bold;
    /* display: flex;
    gap: 10px; */
}
.cv-form > .personal-info > form > div > label > span{
    padding: 8px;
    font-size: 8px;
    color: #626262;
}
.cv-form > .personal-info > form > div > input{
    padding: 10px;
    background-color: #f2f2f2;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 12px;
    outline: none;
    transition: border-color 200ms ease-in-out;
}
.cv-form > .personal-info > form > div > input:focus{
    border-color: blue;
    box-shadow: 0px 3px 15px rgba(59, 131, 246, 0.2);
}